{% extends "layout.html" %}
{% block title %}Job Search App{% endblock %}
{% block page %}Job Search{% endblock %}

{{ super() }}

{% block content %}

    <div>
        <h1>Jobs</h1>
    </div>

    <section>
        
        <div class="row">

            {%for job in jobs%}
            <div class="row" style="margin-left: 100px;" >
                <div class="col s12 m7">
                  <div class="card grey darken-4" style="padding-left: 40px;">
                    <div class="card-content grey lighten-2">

                        <span class="card-title">{{job.Name}}</span>
                        
                        <div>
                            <p><b>Job ID:</b> {{job.Job_ID}}</p>
                            <p><b>Company:</b> {{job.Company}}</p>
                            <p><b>Contact Info:</b> {{job.Contact_Info}}</p>
                            <p><b>Degree or Experience:</b> {{job.Degree_Experience}}</p>
                            <p><b>Requirements: </b> {{job.Requirements}}</p>
                        </div>

                        <div style="padding-left: 450px;">
                            <button class="light-blue accent-3 btn waves-effect waves-light" type="submit">Apply
                                <i class="material-icons right">send</i>
                            </button> 
                        </div>
                        
                    </div>
                  </div>
                </div>
              </div>
                
            {% endfor%}

        </div>
    </section>

{% endblock %}